Flow 1.txt
[{"id":"a3f812cf.ddabb","type":"tab","label":"Flow 1"},{"id":"89281298.b73f7","type":"rpi-gpio out","z":"a3f812cf.ddabb","name":"LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":710,"y":220,"wires":[]},{"id":"a7852e4.71cc8d","type":"rpi-gpio in","z":"a3f812cf.ddabb","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":220,"wires":[["6eab167e.bb85e8","ff279db8.eb90b"]]},{"id":"ff279db8.eb90b","type":"switch","z":"a3f812cf.ddabb","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":370,"y":220,"wires":[["f07d975.f25f468"],["ff7ffea0.13b1"]]},{"id":"f07d975.f25f468","type":"change","z":"a3f812cf.ddabb","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["89281298.b73f7"]]},{"id":"ff7ffea0.13b1","type":"change","z":"a3f812cf.ddabb","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["89281298.b73f7"]]},{"id":"6eab167e.bb85e8","type":"debug","z":"a3f812cf.ddabb","name":"","active":true,"console":"false","complete":"false","x":390,"y":140,"wires":[]}]