Flow 2.txt
[{"id":"63bcbeea.42566","type":"tab","label":"Flow 2"},{"id":"e64dfc90.a064e","type":"debug","z":"63bcbeea.42566","name":"","active":true,"console":"false","complete":"false","x":770,"y":280,"wires":[]},{"id":"1a8242f1.b38f0d","type":"inject","z":"63bcbeea.42566","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":149,"y":223,"wires":[["beb40b1f.a96bf8"]]},{"id":"beb40b1f.a96bf8","type":"function","z":"63bcbeea.42566","name":"Payload","func":"msg.headers={\n    deviceKey:\"SGRX0ZVj1W9AQKle\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["b545fae4.fe5b78","6d49a12c.30895"]]},{"id":"b545fae4.fe5b78","type":"http request","z":"63bcbeea.42566","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DVq0TqtP/datachannels/Temperature/datapoints.csv","tls":"","x":510,"y":220,"wires":[["e64dfc90.a064e","53754016.da559"]]},{"id":"6d49a12c.30895","type":"http request","z":"63bcbeea.42566","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DVq0TqtP/datachannels/Humidity/datapoints.csv","tls":"","x":510,"y":260,"wires":[["e64dfc90.a064e","53754016.da559"]]},{"id":"53754016.da559","type":"http response","z":"63bcbeea.42566","name":"","statusCode":"","headers":{},"x":750,"y":180,"wires":[]}]