Flow 3.txt
[
    {
        "id": "cab2ba86.b9d028",
        "type": "tab",
        "label": "Flow 3"
    },
    {
        "id": "ca60541e.d7c7c8",
        "type": "inject",
        "z": "cab2ba86.b9d028",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "6a87f3a3.2a7a2c",
                "915ed626.de5f78"
            ]
        ]
    },
    {
        "id": "6a87f3a3.2a7a2c",
        "type": "function",
        "z": "cab2ba86.b9d028",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"SGRX0ZVj1W9AQKle\"\n};\nmsg.payload=\"Temperature,,66.6\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "fdcb5d39.cb28d"
            ]
        ]
    },
    {
        "id": "fdcb5d39.cb28d",
        "type": "http request",
        "z": "cab2ba86.b9d028",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.mediatek.com/mcs/v2/devices/DVq0TqtP/datapoints.csv",
        "tls": "",
        "x": 550,
        "y": 220,
        "wires": [
            [
                "b5089e87.328be",
                "9b4003da.61c84"
            ]
        ]
    },
    {
        "id": "9b4003da.61c84",
        "type": "http response",
        "z": "cab2ba86.b9d028",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "915ed626.de5f78",
        "type": "function",
        "z": "cab2ba86.b9d028",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey:\"SGRX0ZVj1W9AQKle\"\n};\n\nmsg.payload=\"Humidity,,77.7\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "fdcb5d39.cb28d"
            ]
        ]
    },
    {
        "id": "b5089e87.328be",
        "type": "debug",
        "z": "cab2ba86.b9d028",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 750,
        "y": 200,
        "wires": []
    }
]